<p class="user-header">Hi User!</p>

<div class="content">
    <div fxLayout="row wrap">
        <div fxFlex *ngFor = "let num of [1, 2, 3, 4, 5, 6]">

        </div>
    </div>
    <mat-card class="mat-elevation-z4">
        <mat-card-header>
            <mat-card-title>Outfit Name</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../assets/images/finopa.jpg">
        <mat-card-content>
            <p>
                Date
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Ver</button>
            <button mat-button>Button</button>
        </mat-card-actions>
      </mat-card>
</div>