<div class="content">
    <div style="padding: 2rem">
      <div class="select-menu">
        <mat-form-field appearance="fill" style=" padding-bottom: 1rem;">
            <mat-select placeholder="Tipo de Prenda" (selectionChange)="changeClient($event)">
              <mat-option value="1">Top</mat-option>
              <mat-option value="2">Bottom</mat-option>
              <mat-option value="3">Shoes</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div
          fxFlex="20%"
          fxFlex.xs="100%"
          fxFlex.sm="33%"
          *ngFor="let num of dataIMG"
        >
          <mat-card class="mat-elevation-z4">   
            <img mat-card-image src="assets/IMG/garments/{{num.img_path}}" style="height: 100%; width: 100%; padding: 1rem;">
          </mat-card>
        </div>
      </div>
    </div>
  </div>
