<mat-toolbar style="justify-content: center; width: 100%; height: 100%;">
    <button class="bar" routerLinkActive="active" routerLink="/home" mat-button>Home</button>
    <button class="bar" routerLinkActive="active" routerLink="/liked" mat-button>Liked</button>
    <button class="bar" routerLinkActive="active" routerLink="/generate" mat-button>Generate</button>
    <button class="bar" routerLinkActive="active" routerLink="/garments" mat-button>Garments</button>
    <button class="bar" routerLinkActive="active" routerLink="/account" mat-button>Account</button>
</mat-toolbar>
