<p>¿Para qué ocasión?</p>

<div class="filters">
    <div class="ocasion">
    <h2>Ocasión</h2>
    <button mat-raised-button color="primary">Formal</button>
    <button mat-raised-button color="primary">Casual</button>
    <button mat-raised-button color="primary">Deportivo</button>
    </div>
    <div class="clima">
    <h2>Clima</h2>
    <button mat-raised-button color="primary">Soleado</button>
    <button mat-raised-button color="primary">Lluvioso</button>
    <button mat-raised-button color="primary">Fresco</button>
    </div>
</div>
